# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Single Screen Game.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\James\Documents\GitHub\signle-screen-game-MohanLaoch\Single Screen Game\.idea\.idea.Single Screen Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
